<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- Place the name of your domain (i.e. tinyurl.com, bit.ly) here -->
    <!--<add key="DomainName" value="localhost:64723/Redirection.aspx" />-->
    <add key="DomainName" value="link.adisinsight.com/r" />
    <!-- Type of database to be used (SqlServer or MySql) -->
    <add key="DatabaseType" value="SqlServer" />
  </appSettings>
  <connectionStrings>
    <!-- Place your connection string here. Specify which database is to be used ("SqlServer" or "MySql") -->
    <!--<add name="SqlServer" connectionString="Server=localhost;Database=adislink;Uid=adislink;Pwd=adislink;"-->
    <add name="SqlServer" connectionString="Server=localhost;Database=adislink;integrated security = true;" />

    <add name="MySql" connectionString="" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect" enabled="false" stopProcessing="true">
          <match url="redirect/([a-zA-Z0-9]){1,5}" />
          <action type="Redirect" url="Redirection.aspx" />
        </rule>
        <rule name="Rewrite">
          <match url="r/([a-zA-Z0-9]){1,5}" />
          <action type="Rewrite" url="Redirection.aspx/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
